/* ОБЩИЕ */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "SF Pro Display";
    border: none;
    background: none;

    user-select: none;
}

main{
    width: 1160px;
    margin: auto;
    padding-top: 30px;
}


section{
    margin-bottom: 150px;
}

li{
    list-style: none;
}



body{
    background: rgba(17, 14, 23, 1);
}

button{
    cursor: pointer;
}

h1{
    font-size: 80px;
    font-weight: 400;
    font-style: italic;
    line-height: 0.6;
    text-align: center;
}


h2{
    font-size: 34px;
    font-weight: 400;
    color:#fff;
}





/* ХЕДЕР */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:1px solid rgba(255, 255, 255, 0.10);
}

header > div{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

header ul{
    display: flex;
    gap:20px;
}

header nav a{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.30);
}

.HeaderContact{
    display: flex;
    align-items: center;
    gap:27px;
}

.HeaderContact > *{
    color:#fff;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap:10px;
}

.HeaderContainer-2 ul a{
    font-size: 14px;
    color:#fff;
}

.HeaderContainer-2 > div{
    display: flex;
    gap:30px;
    align-items: center;
}

l{
    width: 1px;
    height: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.10);
}

.HeaderButton{
    position: relative;
}

.HeaderButton div{
    background: #6649BD;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    font-size: 10px;
    color:#fff;
    right: -15px;
    top:-6px;
}







/* СЕКЦИИ */
.MainSection{
    background: url("../img/Banner.png");
    height: 448px;
    width: 100%;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 40px;
}

.MainSection p{
    color: #999;
    font-size: 18px;
    margin: 10px 0px 30px 0px;
}

.MainButton{
    border-radius: 20px;
    background: #6E49BD;
    color:#fff;
    font-size: 14px;
    padding: 6px 6px 6px 40px;
    display: flex;
    align-items: center;
    gap:15px;
}

.MainButton div{
    border-radius: 15px;
    background: #fff;
    padding: 15px 13px;
}

.Banks > div{
    display: flex;
    gap:4px;
}

.Banks > div div{
    color:#fff;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(242, 242, 242, 0.3);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Banks p{
    margin: 23px 0px 0px 0px;
    font-size: 14px;
}



/* ТРЕЙД-ИН БАННЕР */

.TradeinBanner {
    /* background-color: #fff; */
    background: url('../img/banners/tradein.png');
    height: 180px;
    border-radius: 20px;

    display: flex;
    align-items: center;

    user-select: none;

    margin-bottom: 75px;    
}

.Tradein__inner p {
    color: #6E49BD;
    font-size: 14px;
    font-weight: 500;
}

.Tradein__inner h1 {
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.Tradein__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-left: 30px;
}


/* БАНЕР РАССРОЧКИ */


.Installment__inner h1 {

    font-style: normal;
    color: #110E17;
    font-size: 26px; 
    font-weight: 400;
    line-height: 1;

    text-align: left;

}

.Installment__inner p {

    color: #999;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4;

}

.InstallmentBanner {

    height: 215px;
    width: 1160px;

    background: url('../img/banners/installment-plan_banner.png');
    border-radius: 20px;

    display: flex;
    align-items: center;
    padding-left: 30px;

    margin-bottom: 80px;

}

.Installment__inner {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.Installment__inner button {
    max-width: 178px;
    background-color: transparent;

    color: #6649BD;

    border: 1px solid #6E49BD;
}

.Installment__inner button div {
    background-color: #6649BD;
}

.Installment__inner button div img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(96deg) brightness(101%) contrast(101%);
}



