header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header > div {
  width: 1130px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

header ul {
  display: flex;
  gap: 20px;
}

header nav a {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.3);
}

.HeaderContact {
  display: flex;
  align-items: center;
  gap: 27px;
}

.HeaderContact > * {
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.HeaderContainer-2 ul a {
  font-size: 14px;
  color: #fff;
}

.HeaderContainer-2 > div {
  display: flex;
  gap: 30px;
  align-items: center;
}

l {
  width: 1px;
  height: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.HeaderButton {
  position: relative;
}

.HeaderButton div {
  background: #6649bd;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  font-size: 10px;
  color: #fff;
  right: -15px;
  top: -6px;
}

.Header-Menu_mobile {
  display: none;
}

@media (max-width: 1200px) {
  /* .Header-Menu_mobile {
    display: block;
  } */

  header > div {
    width: 1000px;
  }

  header ul {
    gap: 15px;
  }

  .HeaderContainer-2 > div {
    gap: 20px;
  }
}

@media (max-width: 1000px) {
  header > div {
    width: auto;
  }

  .HeaderContainer-2 ul,
  .HeaderContainer-2 l {
    display: none;
  }

  header {
    flex-direction: row;
    justify-content: center;
  }

  .HeaderContact > * {
    font-size: 12px;
    gap: 1px;
  }

  .HeaderContact {
    gap: 10px;
    margin: 0px 40px 0px 122px;
  }
}

@media (max-width: 700px) {
  .HeaderContainer-1,
  .HeaderContainer-2 {
    display: none;
  }

  .Header-Menu_mobile {
    width: 360px;
    display: flex;
    align-items: center;
    padding: 15px 0px 10px 0px;
    justify-content: flex-end;
    gap: 25px;
    margin-right: 20px;
  }

  .HeaderContainer_mobile button img {
    width: 35px;
  }

  .HeaderContainer_mobile a img {
    width: 130px;
  }

  .HeaderContainer_mobile a {
    margin-right: 30px;
  }

  .Header-Menu_mobile_hidden {
    transition: 0.5s ease-in-out;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    background: #110e17;
    width: 100%;
    top: 53px;
    left: 0px;
    padding: 25px 0px;
    transform: translateY(-70vh);
    overflow: scroll;
    max-height: calc(100vh - 49px);
    z-index: 2;
  }

  .Header-Menu_mobile_hidden > div {
    width: 360px;
  }

  .Header-Menu_mobile_hidden > div::before {
    content: "";
    background: #353535;
    width: 100%;
    height: 1px;
    display: block;
    margin-bottom: 20px;
  }

  .Header-Menu_mobile_hidden > div > div:not(.LastContainer) {
    height: 0px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    margin-bottom: 15px;
  }

  .Header-Menu_mobile_hidden > div > div > div:not(.LangContainer) {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .Header-Menu_mobile_hidden button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .Header-Menu_mobile_hidden a {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
  }
  .Header-Menu_mobile_hidden button img {
    width: 17px;
    transition: 0.5s ease;
  }

  .LastContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .LangContainer {
    border: 1px solid #353535;
    display: flex;
    border-radius: 2px;
  }

  .LangContainer button {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    padding: 8px 12px;
  }

  .LangContainer .Active {
    background: #353535;
  }
}
